<link rel="stylesheet" type="text/css" href="fonts.html">


h1,h2 { 
    font-family:"Times New Roman", fantasy, serif; 
}

p, blockquote {
  font-family: sans-serif; 
    font-size: 15px;  
}
body {width: 150%;} 